*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.topbar{
  background: #33475B;
  padding: 5px;
  height: auto;
  border-top: 3px solid #FF8F73;
}
.nav{
  width: 80%;
  margin: auto;
}
.left{
  float: left;
}
.right {
  float: right
}
.clear:after{
  clear: both;
  display: table;
  content: "";
}
.top.left img{
  width: 25px;
  margin-top: 5px;
  margin-right: 15px;
}
.top.left div, .top.left span{
  float: left;
}

.top span{
line-height: 35px;
padding: 0 20px;
color: white;
font-size: 10px;
}
.top.right *:not(.fa-angle-down){
  float: left;
  color: white;
  margin: 0 20px;
}
.top.right img{
  height: 35px;
  margin-top: 5px;
}
.fixed .fa-angle-down{
  color: white;
}
.top.right *{
  line-height: 35px;
}

/* appunto sul line height: height dato dall'hr? */
.container{
  width: 80%;
  margin:auto;
  position: relative;
}
.fixed{
  height: 70px;
  background: #e2e2e2;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  z-index: 1;
}
.left.fixed-bar *{
  padding-left:10px;
  margin-top: 30px;
}
.fixed-bar button{
  background-color: #FF7A59;
  width: 200px;
  height: 40px;
  margin-top: 15px;
}
.menu{
  height: 70px;
}
.menu *{
  line-height: 70px;
}
.logo-menu{
  padding: 20px 0;
}
.menu-right span{
  padding-left: 25px;
}
.claim{
  width: 100%;
  height: 647px;
  /* background-size: cover; */
  background-image: url("back.png");
}
.claim-left{
  width: 45%;
  position: absolute;
  top: 100px;
  left: 0;
}
.claim-left h1{
  color: white;
  font-size: 45px;
}
.claim-left p{
  color: white;
  font-size: 12px;
  margin-top: 25px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
.big-button{
  width: 230px;
  height: 80px;
  background: #E6F4F7;
  border-radius: 5px;
  color: #33475B;
  padding: 30px;
  margin-top: 30px;
}
.main{
  background: #F4F8FA;
  height: auto;
  padding-bottom: 40px;
}
.rubik{
  text-align: center;
  color: #33475B;
  padding: 70px 0;

}
.rubik img{
  width: 250px;
}
.rubik h2{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.rubik p{
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
.sec-container{
  width: 60%;
  margin:auto;
}
.freehub{
  width: 70%;
  background: white;
  margin: auto;
  /* height: 200px; */
  padding: 35px 0;
  margin-top: 25px;
}
.freehub img{
  width: 200px;
}
.learn-more{
  background-color: #FF7A59;
  width: 130px;
  height: 40px;
  padding: 10px 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.left-img{
  float: left;
  width: 40%;
  text-align: center;
  position: relative;
}
.left-text{
  float: left;
  width: 60%;
  color: #33475B;
}
.list *{
  float: left;
  margin-right: 10px;
}
.left-text *{
margin-bottom: 20px;
}
.fa-check-circle{
  color: #FF7A59;
}
.three-box{
  width: 70%;
  margin:auto;
  margin-top: 15px;
  text-align: center;

}
.three-box div{
  background: white;
  float: left;
  width: 30%;
  padding: 30px;

}
.second-box{
  margin: 0 5%;
}
.three-box img{
  height: 150px;
  margin-bottom: 15px;
}
.first-row{
  height: 60%;
  margin: 15px 0;
}
.second-row p, .second-row h5{
  margin: 20px 0;
  line-height: 2;
}
.three-box p{
  text-align: left;
}
.first-box, .second-box, .third-box{
  position: relative;
  height: auto;
}
.blue{
  background-image: url("background.png");
  background-size: cover;
  height: auto;
  padding-bottom: 50px;
}
.section-blue{
  width: 70%;
  margin: auto;
  text-align: center;
}
.central-claim{
  padding: 70px;
  line-height: 1.6;
  color: white;
}
.central-claim h2{
  margin-bottom: 20px;
}
.prima-fila>div{
  float: left;
  width: 25%;
}
.titolo{
  font-size: 40px;
  color: white;
}
.sottotitolo{
  font-size: 15px;
  color: white;
}

.prima-fila .item:not(.forth-item){
  border-bottom: 1px solid white;
  padding: 15px;
  border-right: 1px solid white;
}
.prima-fila .forth-item{
  padding: 15px;
  border-bottom: 1px solid white;
}
.seconda-fila>div{
  float: left;
  width: 25%;
  padding: 20px;
}
.seconda-fila .item:not(.forth-item){
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.sponsor-box{
  width: 70%;
  margin:auto;
  padding-top: 100px;
  position: relative;
  padding-bottom: 30vh;
}
.left-sponsor{
  float: left;
  width: 30%;
  color: #33475B;
  line-height: 2;
}
.left-sponsor .big-number{
  font-size: 60px;
}
.right-sponsor{
  float: right;
  width: 60%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.right-sponsor img{
  float: left;
  width: 25%;
  padding: 0 25px;
}
.logo-sopra{
  margin-bottom: 25px;
}
.growing{
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.grow-text{
  float: left;
  width: 50%;
}
.grow-img{
  float: right;
  width: 50%;
}
.pulsante{
  width: 230px;
  height: 80px;
  background: #FF7A59;
  border-radius: 5px;
  color: white;
  padding: 30px;
  margin-top: 30px;
}
.grow-text>h5{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.grow-text>p{
  line-height: 2;
}
.rounded-image{
  background: #F2547D;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}
.ritratto{
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CTA_Card_profile_2@2x.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
footer{
  background: #33475B;
  width: 100%;
  height: 600px;
}
.cont-footer{
  width: 80%;
  margin: auto;
  padding-top: 40px;
}
.cont-footer *{
  display: block;
}
.cont-footer>div{
  float: left;
  width: 25%;
  color: #CBD6E2;
  font-size: 13px;
}
.grassetto{
  font-weight: bold;
  color: white;
}
.contact-button{
  width: 200px;
  height: auto;
  background: white;
  border-radius: 5px;
  color: #33475B;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}
.altezza>span{
  line-height: 2;
  margin: 20px;
}
.social{
  width: 100%;
}
.social .fab{
  float: left;
  width: 20%;
  margin-top: 20px;
  font-size: 25px;
}
.middle-footer{
  width: 80%;
  margin:auto;
  color: #CBD6E2;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.middle-footer span{
  padding: 15px 30px;
  font-size: 15px;
}
footer hr{
  width: 80%;
  margin: auto;
  color: #CBD6E2;
}
.last-footer{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: #CBD6E2;
}
.last-left{
  float: left;
  width: 30%;
}
.last-right{
  float: right;
  width: 70%;
  text-align: right;
}
.last-right span{
  margin-left: 25px;
}
